/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Global Variables */
:root {
    --primary-font-color: #ffffff;
    --menu-button-color: #D9A761;
    --menu-button-hover-color: #492666;
    
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* Background Image and fallback color */
    background-image: url('../images/bg.webp');
    background-color: #470964;
}

/* Global Styles */
.hidden {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

/* Add this rule to disable dragging for all images */
.no-drag {
    pointer-events: none !important;
    user-select: none !important;
}

/* Landing page */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.menu-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: 'Orbitron', sans-serif;
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    border-color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    color: white;
    background-color: #333333;
}

#tvImage,
#scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5; /* Below the start button but above the layers */
    transition: opacity 0.2s ease-in-out; /* Smooth transition */
}

#scanlines {
    z-index: 6; /* Above the TV image */
    pointer-events: none; /* Ensure the overlay doesn't interfere with interactions */
    background: linear-gradient(
        rgba(0, 0, 0, 0.05) 50%, 
        rgba(255, 255, 255, 0.05) 50%
    );
    background-size: 100% 4px;
}

.parallax {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1px;
}

.layer {
    position: absolute;
    width: 50%;
    height: 20%;
    background-size: cover;
    background-position: center;
    transition: transform 0.1s ease-out;
}

#layer1 {
    transform: translateZ(-1px) scale(1);
    left: 40%;
    top: 60%;
}

#layer2 {
    transform: translateZ(-0.5px) scale(1);
    left: 20%;
    top: 50%;
}

#layer3 {
    transform: translateZ(0) scale(1);
    left: 78%;
    top: 32%;
}

#layer4 {
    transform: translateZ(-1px) scale(9);
    left: 70%;
    top: 83%;
}

#layer5 {
    transform: translateZ(-0.75px) scale(1);
    left: 50%;
    top: 10%;
}

#player {
    transform: translateZ(0) scale(1);
    bottom: 1%;
    width: 20%;
    bottom: 4%;
    height: auto;
    animation: movePlayer 5s infinite alternate ease-in-out;
}

/* Sprites */
.invaderBasic {
    background-image: url('../images/green.webp');
    width: 50px; /* Adjusted for better game scale */
    height: 50px; 
    position: absolute;
}

.player {
    background-image: url('../images/player.webp');
    width: 50px; 
    height: 50px;
    position: absolute;
}

.bullet {
    background-color: white;
    width: 5px;
    height: 35px;
    position: absolute;
}

/* Game Area */
#gameArea {
    position: absolute;
    width: 80%;
    height: 90%;
    max-width: 1200px;
}

/* Game Stats */

.gameOverlay {
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 80px;
    margin: 20px 3px;
    top: 0;
    color: #ffffff;
    font-size: 1.2rem;
    max-width: 1200px;
}

#score {
}

#lives {

}

/* Modal Styles */
.modal {
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    /* WORK ON ADDING A FADEINOUT EFFECT */
}

.modal-content {
    background-color: #333333;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0.25rem; /* Rounded corners */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Bootstrap-like shadow */
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Max width for larger screens */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
    color: var(--primary-font-color)
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.modal-body {
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: var(--primary-font-color)
}

.instructions li {
    margin-bottom: 1rem;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    border-top: 1px solid #e9ecef;
}

.return-button {
    font-family: 'Orbitron', sans-serif;
    background-color: #D9A761;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 0.25rem;
}

.return-button:hover,
.return-button:focus {
    background-color:var(--menu-button-hover-color);
    color: white;
    outline: none;
}

/* Modal Button Styles */
.modal-button {
    font-family: 'Orbitron', sans-serif;
    background-color: var(--menu-button-color);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 400px;
    height: 200px;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #492666;
    color: white;
    outline: none;
}

/* Pause Menu Styles */
#pauseMenu .modal-content {
    background-color: #333333;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0.25rem; /* Rounded corners */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Bootstrap-like shadow */
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Max width for larger screens */
}

#pauseMenu .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
    color: #e9ecef;
}

#pauseMenu .modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

#pauseMenu .modal-body {
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    color: #e9ecef;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* Add some space between the buttons */
}

#pauseMenu .modal-footer {
    display: flex;
    justify-content: center; /* Center the resume button */
    padding-top: 1rem;
    border-top: 1px solid #e9ecef;
}

.resume-button {
    font-family: 'Orbitron', sans-serif;
    background-color: #D9A761;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 0.25rem;
}

.resume-button:hover,
.resume-button:focus {
    background-color: #492666;
    color: white;
    outline: none;
}

.pause-button {
    background-color: #D9A761;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 0.25rem;
    font-family: 'Orbitron', sans-serif;
    margin-left: 10px;
}

.pause-button:hover,
.pause-button:focus {
    background-color: #492666;
    color: white;
    outline: none;
}

/* Volume Control Styles */
.volume-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.volume-slider-container {
    display: flex;
    align-items: center;
}

.mute-button {
    margin-left: 10px;
    background-color: var(--menu-button-color);
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0.25rem;
}

.mute-button:hover,
.mute-button:focus {
    background-color: var(--menu-button-hover-color);
    color: white;
    outline: none;
}

.volume-control label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--primary-font-color);
}

.volume-control input[type="range"] {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Make the slider square */
    -webkit-appearance: none;
    appearance: none;
    background: #333333;
    cursor: pointer;
    border-radius: 0.25rem;
}

.volume-control input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px; /* Adjust the height as needed */
    background: #666666; /* Track color */
    border-radius: 5px;
}

.volume-control input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px; /* Adjust the height as needed */
    background: #666666; /* Track color */
    border-radius: 5px;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--menu-button-color);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px; /* Adjust to align thumb with track */
}

.volume-control input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--menu-button-color);
    border-radius: 50%;
    cursor: pointer;
}

/* Keyframes for animation */
@keyframes movePlayer {
    from {
        left: 15%;
    }
    to {
        left: calc(100% - 15%);
    }
}
